* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color:rgba(220, 220, 220, 0.445); */
}

h1,h2,h3,h4,h5,h6 {
    color: rgba(0, 0, 255, 0.699);
    padding: 0.5rem;
}

header {
    display: block;

}

.logo {
    width: 60%;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:  rgb(0, 132, 255); 

}

li {
float: left;
}

li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: rgba(0, 183, 255, 0.575);
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f0e7e7;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #c5baba;}

.dropdown:hover .dropdown-content {
display: block;
}


.row1 {
    padding: 4px;
    margin: 4px;
    height: 420px;
    position: relative;
    margin:4px;
    background-repeat: no-repeat;
    
}

.row1 img {
    opacity: 0.3;
}
  
.text-block {
    position: absolute;
    bottom: 25%;
    right: 40%;
    color: rgb(15, 15, 15);
    padding-left: 20px;
    padding-right: 20px;
  }



.row2 {
    padding-bottom: 2px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.polaroid {
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0.5rem;
    float: left;
    border-radius: 4px;
    border: none;
  }

  div.polaroid img {
    border-radius: 8px;
  }
  
  div.polaroid_text {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(0, 140, 255, 0.301);
  }

  div.polaroid_text:hover {
    cursor: pointer;
    background-color: rgba(25, 35, 43, 0.301);
    color: white;
  }

.column {
    float: left;
   
}

.one {
    background-color:  rgba(113, 130, 146, 0.199);
    border-radius: 6px;
    padding: 1rem;
    width: 30%;
}

.one h2 {
margin: 0.7rem;
}

.two {
    padding: 1rem;
}

.two h1 {
    padding: 1rem;
   
}

.row3 {
    clear: left;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;  
    background-color:  rgba(113, 130, 146, 0.199);
}

.contacts, .message {
    width: 45%;
    padding: 1rem;
    justify-content: center;
}

.contacts {
    border-right: black solid 1px;
}

.contacts h3 {
      float: left;
      margin: 0.5rem;
  }

.contacts a {
      color: rgb(43, 42, 42);
      text-decoration: none;
  }

.contacts a:hover {
    color: rgb(14, 11, 236);
    text-decoration: none;
}

.message {
    /* border-left: black solid 1px; */
    padding: 0.5rem 4rem 0 4rem;
}

  textarea {
   
    /* height: 50px; */
    height: 5rem;
  }

  .input {
      width: 90%;
      border: 0.5px solid black;
      padding: 1rem;
      border-radius: 5px;
      outline: none;
      margin: 0.2rem;
     
      
  }

  .message button {
      margin: 0.2rem;
      background-color: blue;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 20%;
      height: 2rem;
      color: white;
  }

footer {
    clear: left;
    color: white;
    background-color: rgb(0, 132, 255);
    margin-top: 1rem;
    padding: 1rem;
}