body{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.main{
    height: 800px;
    background-color: lavender;

}

table td {
    height: 200px;
    width: 200px;
    
}

.projects {
    text-align: center;
    color: white;
    margin-top: 40px;
}

div a {
   color: white;
   font-size: 5px;
}

.gallery-header {
    color: white;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

.welcome  {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}


.contactme{
    text-align: center;
    
}

.contactme h1{
    color: blue;
    font-size: 46px;
    
}

.contactme p{
    color: blue;
    font-size: 12px;
}

.form{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid;
}

aside{
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

p{
    font-family: monospace;
    font-size: 10px;
    color: black;
    font-style: italic;
    margin-left: 30px;

}

span {
    font-family: monospace;
    font-size: 10px;
    color: white;
    font-style: italic;
 }



h6 {
    margin-top: 60px;
    margin-left: 30px;
    font-family: cursive;
    color: darkred;
    margin-top: 10px;
    margin-bottom: 2px;
}
h5 {
    margin-top: 60px;
    margin-left: 30px;
    font-family: cursive;
    color: darkred;
}





